<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Catenaxio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E5817601D351F55004C0FC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E5817741D351F55004C0FC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E58177F1D351F55004C0FC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
